<section data-ng-controller="ArticlesController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="countries">Countries</label>
			<div class="controls">
				<a ng-click="saveCountry()" ng-model="country" class="btn btn-info">Add country</a>
				<Select>
					<option ng-repeat="country in countries">{{country}}</option>
				</Select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="saved countries">Saved Countries</label>
			<div class="controls">
				<ul>
					<li ng-repeat="country in savedCountries">{{country}}</li>
				</ul>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
				<a href="/#!/articles/" class="btn btn-info">Cancel</a>
			</div>
		</div>
	</form>
</section>