<section  data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>

			<div class="controls">
				<input type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
				</input>
			</div>
		</div>
		
		<div class="control-group">
				<label class="control-label" for="countries">Countries</label>
				<div class="controls">
					<a ng-click="updateCountriesInArticle()" ng-model="country" class="btn btn-info">Add country</a>
					<Select ng-model="country">
						<option ng-repeat="country in countries">{{country}}</option>
					</Select>
				</div>
			</div>

			<div class="control-group">
			<label class="control-label" for="saved countries">Saved Countries</label>
			<div class="controls">
					
				<ul>
					<li ng-repeat="country in article.savedCountries">{{country}}</li>
				</ul>
				<a class="btn" ng-click="clearCountries()">Clear</a>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="content">Content</label>
			<div class="controls">
				<textarea data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Content">
				</textarea>
            </div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
				<a href="/#!/articles/" class="btn btn-info">Cancel</a>
			</div>
		</div>
	</form>
</section>