<section data-ng-controller="ArticlesController" data-ng-init="find()">


	<div class="search-bar">
		<h4>Filter Articles by Country:</h4>
		<label>
			<input type="text" ng-model="searchText" placeholder="Filter by country..">
			<input type="text" ng-model="searchText1" placeholder="Filter by country..">
			<input type="text" ng-model="searchText2" placeholder="Filter by country..">
		</label>
	</div>

	

	<a href="/#!/articles/create"><button type="button" class="btn btn-primary">Create a new article</button></a>
    <br>
    <br>
	<br>
	
	<ul class="articles unstyled">	
		<li data-ng-repeat="article in articles | filter:searchText | filter:searchText1 | filter:searchText2">
			<span>{{article.created | date:'medium'}}</span> /
			<h4><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h4>
			<div>{{article.content}}</div>
		</li>
	</ul>
</section>