<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<span>{{article.created | date:'medium'}}</span> /
	<h2>{{article.title}} 
		<a href="/#!/articles/{{article._id}}/edit">
			<button type="button" class="btn btn-primary">edit</button>
		</a>
		<a href="/#!/articles/">
			<button type="button" class="btn btn-primary" ng-click="remove(article)">delete</button>
		</a>
	</h2>
	<div>{{article.content}}</div>
	<div >
		<h4>Countries article available in :</h4>
		<ul ng-repeat="country in article.savedCountries">
			<li>
				{{country}}
			</li>
		</ul>
	</div>
</section>